.Greeting {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.App .Home {
    padding-top: 50px;
    padding-left: 180px;    
}